@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-Nordea-logo: #0000a0;
  --color-Nordea-text-dark-blue: #00085A;
  --color-Nordea-accent-blue: #0000eb;
  --color-Nordea-accent-2: #0011C0;
  --color-Nordea-grey: #f5f5f9;
  --color-Nordea-dark-grey: #d52f20;
  --color-Nordea-light-blue-1: #e6f0fc;
  --color-Nordea-light-blue-2: #9acdff;
  --color-Nordea-alert-red: #d52f20;
  --color-Nordea-green: #41c0a0;
  --color-Nordea-beige: #fdebe6;
}

/* .hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none; 
}
 */

/* @media (prefers-color-scheme: dark) { // No dark theme definition
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
