version: '3.9'

services:
  backend:
    build:
      context: ./backend
    container_name: backend
    ports:
      - "8000:8080"
    env_file:
      - ./backend/.env #
    networks:
      - nordea-net

  frontend:
    build:
      context: ./frontend
    container_name: frontend
    ports:
      - "3000:3000"
    environment:
      - NEXT_PUBLIC_API_URL=http://backend:8080
    depends_on:
      - backend
    networks:
      - nordea-net

networks:
  nordea-net: # Lets frontend and backend containers communicate.