SpeechRecognition
PyPDF2
fastapi
google
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
google-genai
gTTS==2.3.2
langchain-google-genai
langchain-openai
langchain-tavily
langchain_community
langgraph
langsmith
pdfplumber
pygame
pyaudio
python-dotenv
pyttsx3
tavily-python
uvicorn
google-cloud-texttospeech